/* 
    animate-scss
    @import "../../node_modules/animate-scss/...";
*/

@import "../../node_modules/animate-scss/properties";
@import "../../node_modules/animate-scss/_zooming-entrances/zoomIn";
@import "../../node_modules/animate-scss/_zooming-entrances/zoomInUp";
@import "../../node_modules/animate-scss/_zooming-entrances/zoomInLeft";
@import "../../node_modules/animate-scss/_zooming-entrances/zoomInRight";
@import "../../node_modules/animate-scss/_zooming-entrances/zoomInDown";
@import "../../node_modules/animate-scss/_bouncing-entrances/bounceInLeft";
@import "../../node_modules/animate-scss/_bouncing-entrances/bounceInUp";
@import "../../node_modules/animate-scss/_fading-entrances/fadeIn";

//variables
@import "variables";
@import "efects";

*{
    margin: 0;
    padding: 0;
}

.custom-shadow {
    &::before{
        content: "";
        position: absolute;
        z-index: 8;
        width: 90%;
        height: 10px;
        left: 5%;
        top: 105%;
        background: -webkit-radial-gradient(center, ellipse, rgba(0,0,0,.35) 0%,  rgba(0,0,0,0) 80%  );
        transition: all .3s ease-in-out ;
    }
}

html{
    overflow-x: hidden;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: calc(100vw - 40px);
    padding: 20px !important;
    margin: 0 !important;
    overflow-x: none  !important;
}



.main{

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100vw !important;
    width: 95vw;
    min-height: 842px;
    margin: 0 !important;
    padding: 0 !important;
    

    @media screen and  (max-width: #{$medium} ) {
        flex-direction: column-reverse;
    }

}

.img-content, .item{
    display: inherit;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 30px !important;
    box-sizing: border-box !important;
   
}

.circle{
    border-radius: 100%;
    user-select: none !important;
    box-shadow: 1px 1px 10px rgba($cor1 , .1);
    border:solid 2px $cor1;
}

.img-content, .img-content2{
    @media screen {
        @include zoomIn(
            $duration: .1s,
            $count: 1,
            $delay: .3s,
            $function: ease-in-out, 
            $fill: both
        );
    }
}

.img-content{

    @media screen and  (max-width: #{$medium} ) {
        display: none;
    }

    img{
        width: 120px;
        height:  120px;
        margin-top: -60px;
        @extend .circle;
        @media screen and (max-width: #{$medium} ) {
            display: none;
        }
    }
    &::after{
        content: '';
        width: 55px !important;
        border:solid 1px $cor1;
        z-index: 10;
        right: 0 !important;
        top: 60px;
      
    }
}

//$img-before-width
$img-before-width:  calc(50% - (160px/2)) ;

.img-content2{
    display: none;
    position: static !important;
    height: 100px;


    @media screen and  (max-width: #{$medium} ) {
        display: block;
        transform: translateY(-92px);
    }

    img{
        @extend .circle;
        display: none;
        
        @media screen and (max-width: #{$medium} ) {
            display: block;
            width: 160px;
            height:  160px;
            margin-left: $img-before-width;
        }
    }
    &::before{
        content: '';
        position: absolute;
        width: $img-before-width;
        border:solid 1px $cor1;
        z-index: 3;
        top: calc(92%);
    }
}


.item{

    &:first-child{
       margin-top: 10px;
    }

    h1 {
        width: 80% ;
        font-family: $font2;
        font-size: 2em;
        letter-spacing: 2px;
        color:$cor1;
        text-shadow: 1px 1px 5px rgba(0,0,0, .1);
        

        @media screen and  (max-width: #{$medium} ) { 
            font-size: 1.8em;
            text-align: center !important;
        }

        @media print {
            font-size: 22px !important;
            text-align: left !important;
        }
    }

    h2 {
        font-family: $font1;
        font-weight: lighter;
        font-size: 1.8em;
        color: rgba(0,0,0, .5);
        @media screen and  (max-width: #{$medium} ) { 
            font-size: 1.6em;
        }
    }

   
    h3{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: $font1;
        font-size:  1.2em;
        letter-spacing: 2px;
        margin-bottom: 10px;
        color: rgba(0,0,0, .5);

        svg {
            color: $cor1;
            font-size: 18px;
            background: $white;
            padding: 10px;
            border: solid 2px $cor1;
            border-radius: 100%;
            width: 20px !important;
            height: 20px !important;
            z-index: 2;
        }

        &::before{
            content: '';
            width: 25px;
            border:solid 1px $cor1;
            z-index: 3;
        }
    }


    p{
        font-family: $font1;
        margin: 2px 0;
        font-size: 14px !important;
        margin-left: 5px !important;
        max-width: 80%;
        @media screen and  (max-width: #{$medium} ) { 
            font-size: .9em !important;
        }
    }

    a{
        color: $black;
        text-decoration: none;

        &:hover{
            color: $cor1;
            cursor: pointer;
            text-decoration: underline;
        }
    }

    ul{
        margin-left: 30px;
        list-style: circle;
        li{
            font-family: $font1;
            font-size: .9em;
            margin-top: 5px !important;
            & > small{
                font-size: .7em;
                font-weight: lighter;
                margin-bottom: 10px !important;
            }
            p{
                font-family: $font2; 
                & > small{
                    font-weight: lighter;
                    float: left;
                }
            }
        }
    }


    &:hover{

        & h3 > svg{
           @include rotate('ease-in-out .6s');
        }
    }

}


@for $num from 2 through 10 {

    $dly: calc( calc(#{$num} - 1) * .2s);
    $drt: .3s;

    .right > .item:nth-child(#{$num}) {
        @include zoomInRight (
            $duration:  $drt,
            $count: 1,
            $delay: $dly,
            $function: ease-in-out, 
            $fill: both
        );
    }

    .left > .item:nth-child(#{$num}){
        @include zoomInLeft (
            $duration:  $drt,
            $count: 1,
            $delay: $dly,
            $function: ease-in-out, 
            $fill: both
        );
    }


}



.left,  .right{
    display: flex;
    flex-direction: column;

    @include zoomInDown (
        $duration:  .3s,
        $count: 1,
        $delay: .3s,
        $function: ease-in-out, 
        $fill: both
    );

    @media screen and  (max-width: #{$medium} ) { 
        width: 90%  !important;
    }

    .item{
        flex-direction: column;
    }
}


.left{

    width: 35%;
    align-items: flex-end;

    @media screen and  (max-width: #{$medium} ) { 
        border-right: solid 2px $cor1;
        border-top: solid 1px $cor1;
        border-bottom: solid 2px $cor1 !important;
        border-radius: 0px 20px 20px 0px;
        transform: translateX(8px);
        &:nth-child(2){
            padding-top: 50px;
        }
    }

    &:first-child{
        padding-top: 50px;
    }

    .item{
      align-items: flex-end !important;
      text-align: center !important;
      h3{
          flex-direction: row-reverse;
          svg {
              margin-left: 10px;
          }
          &::before{
            left: 0;
        }
      }
      p{
        margin-right: 40px;
      }
    }

    @media screen and  (max-width: #{$medium} ) { 
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: $cor1;
            transform: translateY(10px);
            opacity: 10;
            z-index: 10;
            display: none;
        }
    }

}

.right{
    border-left: solid 2px $cor1;
    width: 70%;

    @media screen and  (max-width: #{$medium} ) { 
        padding-bottom: 20px;
        border-bottom: solid 1px $cor1;
        border-radius: 0px 0px 0px 20px;
        transform: translateY(2px) translateX(-8px);
        margin-top: 120px;
        padding-top: 0 !important;
    }


    &:first-child{
        margin-top: 10px !important;
    }

    h1{
        margin-left: 30px;
    }
    h3{
        flex-direction: row;
        svg {
            margin-right: 10px;
        }
        &::before{
            right: 0;
        }
    }
    p{
        margin-left: 30px !important;
    }
    ul{
        margin-left: 50px !important;
    }
}





.btn {

    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    z-index: 11;
    padding: 10px;

    @media screen and (max-width: $small  ) {
        flex-direction: row-reverse;
        justify-content: center;
        background-color: $white;
        min-width: 95vw ;
        max-width: 100vw ;
        box-shadow: 1px -1px 5px $black2;
        max-height: 50px;

        @include zoomInUp(
            $duration: .1s,
            $count: 1,
            $delay: .1s ,
            $function: ease-in-out, 
            $fill: both
        );
    }

    &-relative{
        @extend .btn;

        @media screen and (max-width: $small  ) {
            position: relative !important;
            box-shadow: none !important;
            min-width: 90%;
            max-width: 90%;
            padding: 20px 0px;
            margin: 0 auto !important;
            border-top: solid 1px $cor1;
            border-left: solid 2px $cor1;
            border-bottom: solid 2px $cor1;
            border-radius: 20px 0px 0px 20px;
            transform: translateX(-10px) translateY(-1px);
            background-color: $white !important;
        }

    }   

}





.btn > * {
    position: relative;
    padding: 10px;
    margin: 7px;
    border-radius: 50%;
    z-index: 10;
    box-shadow: -1px -1px 5px rgba($black2, $alpha: .2);
    opacity: .6;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > svg,  & > i{
        font-size: 20px;
    }
        
    @media print{
        display: none !important;
    }

}


@each $name, $clr, $dly in $butons_map {

.btn > ##{$name} {
    z-index: 12;
    background: $white;
    border-right: solid 1px rgba($clr, .4);
    border-bottom: solid 1px rgba($clr, .4);


    & > svg,  & > i{
        color: $clr;

        @media screen and (min-width: $small + 1px  ) {
        @include bounceInLeft(
                $duration: .3s,
                $count: 1,
                $delay: $dly ,
                $function: ease-in-out, 
                $fill: both
            );
        }

        &:hover{

            @media screen and (max-width: $small  ) {
                @include bounceInUp(
                    $duration: .3s,
                    $count: 1,
                    $delay: $dly ,
                    $function: ease-in-out, 
                    $fill: both
                );
            }
        }
    }

    @extend .custom-shadow;
    &::before{
        opacity: 0;
    }

}


.btn > ##{$name}:hover, .btn > ##{$name}.active{
    cursor: pointer;
    opacity: 10;

    & > svg,  & > i  {
        color: $clr;
    }
}

.btn > ##{$name}:hover,  .btn > ##{$name}.active {
    

    &::before{
        transform: scale(0.8);
        opacity:1;
        transition: all .3s ease-in-out ;    
    }

    @include radialGradientTrasition(#{$name}, $clr, $white );
    box-shadow: -1px 2px  5px $black2 !important;


    & > svg,  & > i  {
        color: $clr ;
    }
}


.btn > ##{$name}.active {
    background-color: $clr;
}

}


.msg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 8;
    top: 0px;
    left: 0px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white2;
    padding: 20px;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $white;
        z-index: -1;
        filter: blur(1000px);
        opacity: .7;
    }


    @include fadeIn(
        $duration: 1.2s,
        $count: 1,
        $delay: 2s,
        $function: ease-in-out, 
        $fill: both
    );

    @media print{
        display: none !important;
    }


    @media screen and (max-width: $small ) {
        flex-direction: column-reverse;
        bottom: 200px;
        right: 20px;
        padding: 0px;
    }


    .content{
        position: relative;
        display: flex;
        z-index: 10;
        opacity: 10;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;

        @media screen and (max-width: $medium ) {
         flex-direction: column;
         box-sizing: border-box !important;
         max-width: 80% !important;
        }

        #close {
            display: none;
            position: absolute;
            top: 0px;
            right: 0px;
            color: $black2;
            border: solid 1px $black2;
            width: 14px;
            height: 14px;
            padding: 2px;
            border-radius: 100%;
            z-index: 11;

            &:hover{
                cursor: pointer;
                color: $cor1;
                border-color: $cor1;
            }

            @media screen and (max-width: $small ) {
                top: -10px;
                right: -10px;
            }

        }



        .box {
            position: relative;
            border: solid 2px $cor1;
            min-width: 260px;
            max-width: 260px;
            min-height: 100px;
            margin: 20px;
            padding: 10px;
            box-shadow: 1px 1px 10px $black2;
            border-radius: 7px;
            background: $white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 10;
            background-color: $white;

            p{  
                color: rgba(0,0,0, .7);
                font-family: $font3;
                opacity: 10;
                font-weight: bold;
                font-size: 14px;
                margin: 0px auto !important;
                max-width: 80% !important;
                text-align: center;
                font-weight: lighter;

            }

            b, a {
                color: $cor1;
                text-decoration: none;
            }

            svg, i {
                margin: 10px auto;
                padding: 5px;
                font-size: 28px;
                border-radius: 100%;
                color:  $cor1;

                @include zoomInLeft (
                    $duration: .3s,
                    $count: 1,
                    $delay: .3s ,
                    $function: ease-in-out, 
                    $fill: both
                );

                @each $name, $clr, $dly in $butons_map {
                    & #{$name} {
                        transition-delay: $dly;
                        color: $clr !important;  
                    }
                }
            }


        }


        span {
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: $cor1;
            top: 45%;
            left: 75px;
            transform: rotateZ(135deg);
    
            @media screen and (max-width: $small ) {
                top: 130px;
                left: calc(50% - 10px);
            }

        }

        span, .box{
            @include zoomIn(
                $duration: .3s,
                $count: 1,
                $delay: 2.5s,
                $function: ease-in-out, 
                $fill: both
            );
        }

        img{ 
            position: relative;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            box-shadow: 1px 1px 1px $black2;
            border: solid 2px $cor1;
            background-color: $cor1;
            opacity: 20;

            @include zoomInUp(
                $duration: .6s,
                $count: 1,
                $delay: 2.3s,
                $function: ease-in-out, 
                $fill: both
            );
    
        }


        &:hover{
            cursor: pointer;
    
            & > #close{
                display: block;
            }
        }

        
    }


     
}



