/* 
    animate-scss
    @import "../../node_modules/animate-scss/...";
*/

@import "../../node_modules/animate-scss/properties";
@import "../../node_modules/animate-scss/_zooming-entrances/zoomIn";
@import "../../node_modules/animate-scss/_zooming-entrances/zoomInUp";
@import "../../node_modules/animate-scss/_zooming-entrances/zoomInLeft";
@import "../../node_modules/animate-scss/_zooming-entrances/zoomInRight";
@import "../../node_modules/animate-scss/_zooming-entrances/zoomInDown";
@import "../../node_modules/animate-scss/_bouncing-entrances/bounceInLeft";
@import "../../node_modules/animate-scss/_bouncing-entrances/bounceInRight";
@import "../../node_modules/animate-scss/_bouncing-entrances/bounceInUp";
@import "../../node_modules/animate-scss/_fading-entrances/fadeIn";

//variables
@import "variables";
@import "efects";

*{
    margin: 0;
    padding: 0;
}


.custom-shadow {
    &::before{
        content: "";
        position: absolute;
        z-index: 8;
        width: 90%;
        height: 10px;
        left: 5%;
        top: 105%;
        background: -webkit-radial-gradient(center, ellipse, rgba(0,0,0,.35) 0%,  rgba(0,0,0,0) 80%  );
        transition: all .3s ease-in-out ;
    }
}

.no-print {
    @media print {display: none;}
}

.no-screen{
    @media screen {display: none;}
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition:  scroll-behavior cubic-bezier(0.6, -0.28, 0.735, 0.045) .8s; 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    @include scrollbar( rgba($cor1, .3) , $cor1, $black2, 7px);
    @media print {
        font-size: 12pt !important; 
    }

    @media print {
        width: 793px; height: 1120px;
        padding:  0 !important;
        margin: 0 !important;
     }
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: none  !important;
    
    @media screen and  (min-width: 781px ) {background: #eee;}

    @media screen and  (min-width: #{$large} ) {
        width: 100vw;
        overflow-x: none  !important;
        padding: 40px 0px !important;
    }

    @media screen and  (min-height: #{ $large } ) {
        padding: 40px 0px !important;
        align-items: center !important;
    }

    @media print {
        background: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }
  
}

@page {
    size: A4;
    margin: 0;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background: $white !important;


    @media screen and  (min-height: #{$medium} ) {
        min-height: 1100px;
    }


    @media screen and  (min-width: #{$medium + 1px} ) {
        width: 842px !important;
        padding: 40px 0px;
        border: solid 1px rgba($black2, .2);
        box-shadow: -2px 2px 5px $black2;
    }

    @media screen and  (max-width: #{$medium}  ) {
        max-width: 95vw;
        padding: 20px 0px 0px 0px;
    }
    
    @media screen and  (max-width: #{$medium} ) {
        flex-direction: column-reverse;
    }

    @media print {
       width: 793px; height: 1120px;
       padding:  0 !important;
       margin: 0 !important;
    }
}

.item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100% ;

    &:first-child{
       margin-top: 10px;
    }

    h1 {
        width: 80% ;
        font-family: $font2;
        font-size: 22px ;
        font-weight: 400;
        letter-spacing: 2px;
        color: $cor1;
        text-shadow: 1px 1px 1px rgba(0,0,0, .1);
        opacity: 10;
        margin: 10px 0px;
        text-align: center !important;
        
        @media screen and  (max-width: #{$medium} ) { 
            font-size: 1.8em;
            text-align: center !important;
        }

        @media print {
            margin-left: 10px !important;
            text-align: center !important;
        }
    }

    h2 {
        font-family: $font1;
        font-size: 1.8em;
        color: rgba(0,0,0, .5);
        @media screen and  (max-width: #{$medium} ) { 
            font-size: 1.6em;
        }
    }

   
    h3{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: $font1;
        font-size: .8rem;
        letter-spacing: 2px;
        margin-bottom: 10px;
        color: rgba(0,0,0, .5);
        opacity: 10;

        svg {
            color: $cor1;
            font-size: 20px;
            background: $white;
            padding: 10px !important;
            border: solid 2px $cor1;
            border-radius: 100%;
            width: 16px !important;
            min-width: 16px !important;
            height: 16px !important;
            z-index: 2;
        }

        &::before{
            content: '';
            width: 25px;
            border:solid 1px $cor1;
            z-index: 3;
        }
    }


    p{  
        color: $black;
        font-family: $font1;
        margin: 2px 0;
        font-size: .8rem !important;
        margin-left: 5px !important;
        max-width: 80%;
        opacity: 10 !important;
    

        &.link{
            display: flex; 
            justify-content: flex-end;
            align-items: flex-end;
            width: 90%;
            margin: 5px;
            @media print{
                margin-right: 0px;
            }

            & > a{
                position: relative !important;
                display: flex; 
                justify-content: flex-end;
                align-items: center;
                color: $black;
                svg{
                    @media print{  margin-left: 5px; }
                    margin-left: 10px;
                    font-size: 12px;
                }
            }

            @media screen and  (max-width: #{$medium} ) { 
                min-height: 48px !important;
                margin: 5px;

                & > a{
                    min-width: 48px !important;
                    height: 48px !important;
                    max-height: 50px !important;

                    svg{
                        margin-left: 5px;
                    }
    
                }
            }

            small{
                background-color: rgba($cor1, .7);
                color: white;
                position: absolute;
                bottom: -20px;
                right: 20px;
                font-size: .55rem;
                padding: 3px 5px;
                border-radius: 5px;
                @media screen and  (max-width: #{$medium} ) { bottom: -2px;}
                @media print{display: none;}
            }
        }

        &.link-print{
            @extend .link;
            @media screen {display: none;}
            @media print{
                display: block !important;
            }
        }

        &.link-noprint{
            @extend .link;
            @media print{display: none;}
        }
    }

    a{  
        color: $black;
        text-decoration: none;
        transition-delay: .3s !important;
        transition: transform cubic-bezier(0.3, -0.28, 0.335, 0.045) .1s;
        letter-spacing: 1px;

        &:hover{
            transition-delay: .0s;
            transition: transform cubic-bezier(0.3, -0.28, 0.335, 0.045) .1s;
            transform: scale(1.1);
            color: $cor1 !important;
            cursor: pointer;
            text-decoration: none !important;
            letter-spacing: 1.5px;        
        }
    }

    ul{
        margin-left: 30px;
        list-style: circle;
        li{
            font-family: $font1;
            font-size: .8em;
            margin-top: 5px !important;
            font-weight: normal;
            max-width: 80%;

            & > small{
                font-size: .8em;
                margin-bottom: 10px !important;
            }
            p{
                font-family: $font2;
                margin: 5px 0px;
                & > small{
                    font-weight: lighter;
                    float: left;
                }
            }
        }
    }


    &:hover{

        & h3 > svg{
           @include rotate('ease-in-out .6s');
        }
    }

}


.circle{
    border-radius: 100%;
    user-select: none !important;
    box-shadow: 1px 1px 10px rgba($cor1 , .1);
    border:solid 2px $cor1;
}



.img-content, .item{
    position: relative;
    display: inherit;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px !important;
    box-sizing: border-box !important;
}


@for $num from 2 through 10 {

    $dly: calc( calc(#{$num} - 1) * .2s);
    $drt: .3s;

    .right > .item:nth-child(#{$num}) {
        @include zoomInRight (
            $duration:  $drt,
            $count: 1,
            $delay: $dly,
            $function: ease-in-out, 
            $fill: both
        );
    }

    .left > .item:nth-child(#{$num}){
        @include zoomInLeft (
            $duration:  $drt,
            $count: 1,
            $delay: $dly,
            $function: ease-in-out, 
            $fill: both
        );
    }


}


.left,  .right{

    display: flex;
    flex-direction: column;

    @include zoomInDown (
        $duration:  .3s,
        $count: 1,
        $delay: .3s,
        $function: ease-in-out, 
        $fill: both
    );

    @media screen and  (max-width: #{$medium} ) { 
        width: 90%  !important;
    }

    @media print {
        padding:  0 !important;
        margin: 0 !important;
    }

    .item{
        flex-direction: column;
    }
}



.left{
    align-items: flex-end;
    width: 70%;

    @media screen and  (min-width: #{$large + 1px} ) { 
        width: 38%;
    }

    @media screen and  (max-width: #{$medium} ) { 
        border-right: solid 2px $cor1;
        border-top: solid 1px $cor1;
        border-bottom: solid 2px $cor1 !important;
        border-radius: 0px 20px 20px 0px;
        transform: translateX(8px);
        &:nth-child(2){
            padding-top: 10px;
        }
    }

    @media print {
        width: 40%;
    }


    &:first-child{
        padding-top: 50px;
        @media print {
            padding-top:0 !important;
        }
    }

    .item{
        align-items: flex-end !important;
        text-align: center !important;

        h3{   
            text-align: right !important;
            flex-direction: row-reverse;
            max-width: 90%;

            svg {
                margin-left: 20px;
            }
            &::before{
                right: 0;
                min-width: 20px;
            }
        }

        p{
            margin-right: 40px;
        }
    }

    @media screen and  (max-width: #{$medium} ) { 
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: $cor1;
            transform: translateY(10px);
            opacity: 10;
            z-index: 10;
            display: none;
        }
    }

}



.right{

    position: relative;
    border-left: solid 2px $cor1;

    @media screen and  (min-width: #{$large + 1px} ) { 
        width: 62%;
    }

    @media screen and  (max-width: #{$medium} ) { 
        padding-bottom: 20px;
        border-top: solid 2px $cor1;
        border-bottom: solid 1px $cor1;
        border-radius: 20px 0px 0px 20px;
        transform: translateY(2px) translateX(-8px);
        margin-top: 100px;
        padding-top: 0 !important;
    }

    @media print {
        width: 60%;
    }

    .item {
        @media screen and  (max-width: #{$medium} ) { 
            transform: translateY(-90px);
        }

        small.no-screen{
            font-size: .8rem;
            margin: 30px 0 0 50px;
        }
    }


    &:first-child{
        margin-top: 10px !important;
        @media print {
            padding-top:0 !important;
        }
    }

    h1{
        margin-left: 20px;
        margin-top: 20px;
        @media print { 
            margin-left: 25px !important;
        }
    }
    
    h3{
        text-align: left !important;
        flex-direction: row;
        svg {
            margin-right: 10px;
        }
        &::before{
            right: 0;
            min-width: 20px;
        }
    }
    p{
        margin-left: 30px !important;
    }
    ul{
        margin-left: 50px !important;
    }
}






.left > .img-content {

    @media screen and  (max-width: #{$medium} ) { display: none;}
    @media print {display: flex !important;}

    & >  img{
        width: 120px;
        height:  120px;
        margin-top: -60px;
        margin-bottom: 50px;
        @media screen and (max-width: #{$medium} ) {
           display: none;
        }
    }

    &::after{
        content: '';
        width: 55px !important;
        height: 2px;
        background-color: $cor1 !important;

        @media print{
            border: solid 1px $cor1 !important;
            height: 0 !important;
        }

        z-index: -1;
        right: 0 !important;
        top: 60px;
    }
} 



.right > .img-content {
  
    position: relative ;
    height: auto;

    @media screen and  (max-width: #{$medium} ) {
        display: block;
        transform: translateY(-92px);
    }

    & > img{

        display: none;
        
        @media screen and (max-width: $medium  ) {
            display: block;
            width: 160px;
            height:  160px;
            margin-left: $img-before-width;
        }
    }

    &::before{
        content: '';
        position: absolute;
        width: $img-before-width;
        height: 20px;
        z-index: -1;
        top: calc(50%);
        right: 10px;
        background: $white;
        transform: translateX(11px);
        @media screen and (min-width: 920px ){ display: none !important;}
    }

    @media print { display: none !important;}
}

#avatar{
   
    display: none;
    position: fixed !important;
    top: 20px !important;
    right: 30px !important;
    z-index: 12 !important;
    margin: 0 !important;
    width: 40px !important;
    height: 40px !important;
    align-self: flex-end;
    transform: translateX(10px);
    background-color: $white;

    img{
        @extend .circle;
        position: fixed !important;
        right: 0 !important;
        top:0;
    }

    @media screen {
        @include zoomInRight(
            $duration: .6s,
            $count: 1,
            $delay: .3s,
            $function: ease-in-out, 
            $fill: both
        );
    }

    @media print { display: none !important;}

    &::before{
        content: '';
        width: 100px;
        height: 20px;
        z-index: -1;
        border-bottom: solid 2px $cor1;
        border-left: solid 2px $cor1;
        border-radius: 0px 0px 0px 10px;
        position: absolute;
        bottom:-22px;
        left: calc(50%);
    }



    & > img{
        @extend .circle;
        position: relative !important ;
        width: 40px !important; 
        height: 40px !important;
    }
    
   
}


.img-content {
    @media screen {
        @include zoomIn(
            $duration: .1s,
            $count: 1,
            $delay: .3s,
            $function: ease-in-out, 
            $fill: both
        );
    }

    & > img{
        @extend .circle;
    }
}

.btn {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    @media print { display: none !important; }


    &-fixed-md, &-fixed-lg{
        position: fixed !important;
        z-index: 11;
    }


    &-fixed-md, &-relative{
        flex-direction: row-reverse !important;
    }

    &-fixed-lg {
        flex-direction: column !important;
        justify-content: space-around;
        right: 20px;
        top: calc( 50% - (225px/2) )  !important;
        max-width: 100px;
        background: transparent;

        @media screen and  (min-height: #{ $large } ) {
            bottom: initial !important;
            top: calc( 50% - (225px/2) )  !important;
        }
    }

    &-fixed-md {
        background: $white;
        right: 0px;
        bottom: 0px;
        width: 100vw ;
        box-shadow: 1px -1px 5px $black2;
        max-height: 50px;

        @include zoomInUp(
            $duration: .1s,
            $count: 1,
            $delay: .1s ,
            $function: ease-in-out, 
            $fill: both
        );
    }

    &-relative{
        position: relative !important;
        min-width: 90%;
        max-width: 90%;
        padding: 20px 0px;
        margin: 0 auto !important;
        border-top: solid 1px $cor1;
        border-left: solid 2px $cor1;
        border-bottom: solid 2px $cor1;
        border-radius: 20px 0px 0px 20px;
        transform: translateX(-10px) translateY(-1.2px);
        background-color: $white !important;
    }   

}





.btn > * {
    position: relative;
    padding: 10px;
    margin: 7px;
    border-radius: 50%;
    z-index: 10;
    box-shadow: -1px -1px 5px rgba($black2, $alpha: .2);
    opacity: .6;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > svg,  & > i{
        font-size: 20px;
    }
        
    @media print{
        display: none !important;
    }

}


@each $name, $clr, $dly in $butons_map {

.btn > ##{$name} {
    z-index: 12;
    background: $white;
    border: solid 1px transparent !important;
    @include boderRotateEfect($name, $black2, rgba($clr, .8)  );


    & > svg,  & > i{
        color: $clr;

        @media screen and (min-width: $medium + 1px  ) {
            @include bounceInRight (
                $duration: .3s,
                $count: 1,
                $delay: $dly ,
                $function: ease-in-out, 
                $fill: both
            );
        }

        @media screen and (max-width: $medium  ) {
            @include bounceInUp(
                $duration: .3s,
                $count: 1,
                $delay: $dly ,
                $function: ease-in-out, 
                $fill: both
            );
        }


        &:hover{

            @media screen and (max-width: $small  ) {
                @include bounceInUp(
                    $duration: .3s,
                    $count: 1,
                    $delay: $dly ,
                    $function: ease-in-out, 
                    $fill: both
                );
            }
        }
    }

    @extend .custom-shadow;
    &::before{
        opacity: 0;
    }

}


.btn > ##{$name}:hover, .btn > ##{$name}.active{
    cursor: pointer;
    opacity: 10;

    & > svg,  & > i  {
        color: $clr;
    }
}

.btn > ##{$name}:hover,  .btn > ##{$name}.active {
    

    &::before{
        transform: scale(0.8);
        opacity:1;
        transition: all .3s ease-in-out ;    
    }

    @include radialGradientTrasition(#{$name}, rgba($clr, .1), $white );
    box-shadow: -1px 2px  5px $black2 !important;


    & > svg,  & > i  {
        color: $clr ;
    }
}


.btn > ##{$name}.active {
    background: rgba($clr, .2) ;
}

}


.msg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 8;
    top: 0px;
    left: 0px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white2;
    padding: 20px;
    @media print { display: none !important; }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $white;
        z-index: -1;
        filter: blur(1000px);
        opacity: .7;
    }


    @include fadeIn(
        $duration: 1.2s,
        $count: 1,
        $delay: 2s,
        $function: ease-in-out, 
        $fill: both
    );

    @media print{
        display: none !important;
    }


    @media screen and (max-width: $small ) {
        flex-direction: column-reverse;
        bottom: 200px;
        right: 20px;
        padding: 0px;
    }


    .content{
        position: relative;
        display: flex;
        z-index: 10;
        opacity: 10;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;

        @media screen and (max-width: $medium ) {
         flex-direction: column;
         box-sizing: border-box !important;
         max-width: 80% !important;
        }

        #close {
            display: none;
            position: absolute;
            top: 0px;
            right: 0px;
            color: $black2;
            border: solid 1px $black2;
            width: 14px;
            height: 14px;
            padding: 2px;
            border-radius: 100%;
            z-index: 11;

            &:hover{
                cursor: pointer;
                color: $cor1;
                border-color: $cor1;
            }

            @media screen and (max-width: $small ) {
                top: -10px;
                right: -10px;
            }

        }



        .box {
            position: relative;
            border: solid 2px $cor1;
            min-width: 260px;
            max-width: 260px;
            min-height: 100px;
            margin: 20px;
            padding: 10px;
            box-shadow: 1px 1px 10px $black2;
            border-radius: 7px;
            background: $white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 10;
            background-color: $white;

            p{  
                color: rgba(0,0,0, .7);
                font-family: $font3;
                opacity: 10;
                font-weight: bold;
                font-size: 14px;
                margin: 0px auto !important;
                max-width: 80% !important;
                text-align: center;
            }

            b, a {
                color: $cor1;
                text-decoration: none;
            }

            svg, i {
                margin: 10px auto;
                padding: 5px;
                font-size: 28px;
                border-radius: 100%;
                color:  $cor1;

                @include zoomInLeft (
                    $duration: .3s,
                    $count: 1,
                    $delay: .3s ,
                    $function: ease-in-out, 
                    $fill: both
                );

                @each $name, $clr, $dly in $butons_map {
                    & #{$name} {
                        transition-delay: $dly;
                        color: $clr !important;  
                    }
                }
            }


        }


        span {
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: $cor1;
            top: 45%;
            left: 75px;
            transform: rotateZ(135deg);
    
            @media screen and (max-width: $small ) {
                top: 130px;
                left: calc(50% - 10px);
            }

        }

        span, .box{
            @include zoomIn(
                $duration: .3s,
                $count: 1,
                $delay: 2.5s,
                $function: ease-in-out, 
                $fill: both
            );
        }

        img{ 
            position: relative;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            box-shadow: 1px 1px 1px $black2;
            border: solid 2px $cor1;
            background-color: $cor1;
            opacity: 20;

            @include zoomInUp(
                $duration: .6s,
                $count: 1,
                $delay: 2.3s,
                $function: ease-in-out, 
                $fill: both
            );
    
        }


        &:hover{
            cursor: pointer;
    
            & > #close{
                display: block;
            }
        }

        
    }


     
}





